/* Định dạng chung cho trang */
body {
    font-family: Arial, sans-serif;
    margin: auto;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    min-height: 100vh;
    width: 1200px;

}

/* Định dạng sidebar */
.sidebar {
    width: 250px;
    background-color: #0f2309;
    color: #fff;
    padding: 20px 0;
    position: fixed;
    height: 100%;
    transition: width 0.3s;
}

.sidebar h2 {
    text-align: center;
    font-size: 1.5em;
    margin: 0 0 20px 0;
    padding: 10px;
    background-color: #48b45f;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar nav ul li {
    padding: 10px 20px;
}

.sidebar nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
    display: block;
    transition: color 0.3s;
}

.sidebar nav ul li a:hover {
    color: #1abc9c;
    background-color: #34495e;
    border-left: 4px solid #1abc9c;
    padding-left: 16px;
}

/* Định dạng khu vực chính (main) */
.main {
    margin-left: 250px; /* Độ rộng của sidebar */
    padding: 20px;
    flex-grow: 1;
    background-color: #fff;
    min-height: 100vh;
}

/* Responsive design */
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .main {
        margin-left: 0;
    }

    .sidebar nav ul li a {
        padding: 10px;
        text-align: center;
    }
}